body{
    background-image: url("/src/img/login.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    /*flex center*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
main{

    background-image:  url("/src/img/bg.png");
}
.fromDown{
    width: 1000px;
    padding: 55px 90px;
    font-family: Flamenco, serif;
    color: lavender;
    background-color: #614985;
    font-size: 20pt;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    text-shadow: 1px 1px 2px #383131, 0 0 25px rgba(64, 29, 66, 0.88), 0 0 5px #dc9c79;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    animation: moveUp 900ms linear 1s forwards;
    opacity: 0;
}
@keyframes moveUp {
    from{
        transform: translateY(2500px);
        opacity: 0;
    }
    to {
        transform: translateY(200px);
        opacity: 1;
    }
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #6ce7a6;
    text-decoration: underline;
}
a:visited{
    color: #190128;
    text-decoration: none;
}
p{
    margin-left: 38px;
    margin-top: 30px;
    margin-bottom: 2px;
}