.fromUp{
    height: 30px;
    width: 1000px;
    padding: 55px 90px;
    font-family: Flamenco, serif;
    color: lavender;
    background: linear-gradient(180deg, rgba(224, 224, 246, 0.86) 5.98%, rgba(241, 171, 203, 0.92) 48.39%, rgba(138, 2, 225, 0.95) 100%);
    font-size: 20pt;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    text-shadow: 1px 1px 2px #383131, 0 0 25px rgba(64, 29, 66, 0.88), 0 0 5px #dc9c79;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    column-count: 2;
    column-gap: 840px;
    animation: moveDown 900ms linear 1s forwards;
    opacity: 0;
}
@keyframes moveDown {
    from{
        transform: translateY(-500px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

#uName{
    float: right;
    padding: 25px;
    margin-left: -450px;
    margin-top: -20px;
}