p {
    margin: 0;
}
.clip-contents {
    overflow: hidden;
}
.flex-col-hstart-vstart {  /*center align*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
ul{
    list-style-type: none;
}
input, button{
    border-radius: 50px;
    margin-top: 50%;
    padding: 10px;
    width: available;
}
.hidden{
    filter: opacity(100%);
    animation: notShow 200ms ease-out 1s forwards;
}
@keyframes notShow {
    0% {
        filter: opacity(100%);
        transform: translate(0%);
    }
    100% {
        filter: opacity(0%);
        transform: translateY(-590%) ;
    }
}
.avaPic{
    border-radius: 1000px;
    filter: blur(1px);
    transform: scale(0.09);
}
h3{
    transform: translateX(27%) translateY(-104%);
    width: 450px;
}