p {
    margin: 0;
}
.clip-contents {
    overflow: hidden;
}
.flex-col-hstart-vstart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.desktop {
    padding: 0px 0px 9px 0px;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    background-size: 100% 100%;
    width: 100%;
    height: 700px;
    opacity: 0.26;
    animation: opacitybg 1500ms ease-out 2500ms forwards;
}
@keyframes opacitybg {
    0% {
        opacity: 0.26;
    }
    100% {
        background: linear-gradient(180deg, #622570 11.2%, rgba(210, 171, 214, 0.99) 59.12%, #E0EAB9 100%);
        opacity: 1;
    }
}
.mesh {
    height: 700px;
    width: 100%;
    background: url(../images/Mesh1.svg);
    animation: mesh 2500ms ease-out 1ms alternate-reverse infinite;
}
@keyframes mesh {
    from {background: url(../images/Mesh1.svg);}
    to {background: url(../images/Mesh.svg);}
}
.vector{
    padding-left: 31%;
    padding-top: 11%;
    background-blend-mode: darken;
    animation: vSize 1500ms ease-out 2500ms forwards;
    transform-origin: bottom;
}
@keyframes vSize {
    0% {
        transform: scaleY(1);
    }
    100% {
        opacity: 0%;
        transform: scaleY(4);
    }
}
@keyframes pos {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(130px);
    }
}
.rect{
    left: 40%;
    top: 40%;
    position: absolute;
    animation: pos 1500ms ease-out 2500ms forwards;
}
.rect1{
    left: 55%;
    top: 35%;
    position: absolute;
    animation: pos 1500ms ease-out 2500ms forwards;
}
.rect2{
    left: 33%;
    top: 44%;
    position: absolute;
    animation: pos 1500ms ease-out 2500ms forwards;
}
.rect3{
    left: 45%;
    top: 47%;
    position: absolute;
    animation: pos 1500ms ease-out 2500ms forwards;
}
.rect4{
    left: 42%;
    top: 29%;
    position: absolute;
    animation: pos 1500ms ease-out 2500ms forwards;
}
.rect5{
    left: 57%;
    top: 50%;
    position: absolute;
    animation: pos 1500ms ease-out 2500ms forwards;
}
.rect6{
    left: 65%;
    top: 45%;
    position: absolute;
    animation: pos 1500ms ease-out 2500ms forwards;
}
.rect7{
    left: 53%;
    top: 43%;
    position: absolute;
    animation: pos 1500ms ease-out 2500ms forwards;
}
.rect8{
    left: 51%;
    top: 55%;
    position: absolute;
    animation: pos 1500ms ease-out 2500ms forwards;
}
.welcome{
    position: absolute;
    left: 42%;
    top: 648px;
    font-family: 'Flamenco', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 41px;
    text-align: center;
    filter: opacity(0%);
    animation: welcome 1500ms ease-out 2500ms forwards;
}
@keyframes welcome {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-530px);
        filter: opacity(100%);
        color: #FFE1FC;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}